body{
  font-family: 'Noto Sans', sans-serif;
  width: 100%;
  cursor: url(../images/cursor.svg), auto !important;
}

a{
  cursor: url(../images/cursor.svg), auto !important;
}

main{
  background: url('../images/bg.png');  
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #ffffff;
  padding-top: 20px;

}

header{
    /* justify-content: center;
    flex-wrap: wrap;
    display: flex; */
    padding: 10px 15px;
}

.uob-logo{
  /* height: 50px; */
}

.right-by-you{
  /* height: 45px; */
}

.container-fluid{
    max-width: 1800px;
}

.main-wrapper{
  padding: 15px 50px 0;  
  height: calc(100vh - 250px);
  min-height: 680px;
}

.content-wrapper{
  padding: 30px 30px;
}

.headline-text{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: -0.02em;
  
}

.masthead-responsive{
  max-width: 80%;
}

.nav-menu{
  list-style: none;
  padding-left: 0;
  margin-bottom: 5px;
  font-weight: 300;
  font-family: 'Noto Sans', sans-serif;
  margin-right: 15px;
  letter-spacing: -0.02em;
  z-index: 99999;
}

.nav-menu li{
  display: inline-block;
  padding: 0 10px;
  border-right: 0;
}
.nav-menu li:first-child{
  padding-left: 0px;
}
.nav-menu li:last-child{
  padding-right: 0px;
  border-right:0;
}

.nav-menu li a{
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}
.nav-menu li a.active, .nav-menu li a:hover{
  text-decoration: underline;
}

.cta-wrapper{
  margin-top: 40px;
}

.caption-text{
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: -0.02em;  
}

.btn-default{
  background: transparent;
  border: 4px solid #FFFFFF;
  border-radius: 15px;
  height: 100px;
  width: 320px;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

a.btn-default {
  background: transparent;
  border: 4px solid #FFFFFF;
  border-radius: 15px;
  height: auto;
  padding: 35px 0px;
  width: 275px;
  max-width: 100%;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 0px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  display: block;
  text-decoration: none;
}

.btn-start{
  display: inline-block !important;
  margin: 0 15px;
  width: 100% !important;
}

.btn-default:hover{
  background: #ffffff;
  border: 4px solid #005CB9;
  color: #005CB9;
}

footer{
  background: #ffffff; 
  padding: 15px 30px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
footer p{
  margin: 0;
}
footer ul{
  list-style: none;
  padding-left: 0;
  margin-bottom: 5px;
}
footer ul li{
  display: inline-block;
  padding: 0 15px;
  border-right: 1px solid #000000;
}
footer ul li:first-child{
  padding-left: 0px;
}
footer ul li:last-child{
  padding-right: 0px;
  border-right:0;
}
footer ul.social-icon-wrapper li{
  border-right: 0;
}

footer a{
  color: #000000;
  text-decoration: none;
}

footer a:hover{
  color: #000000;
  text-decoration: underline;
}


.text-question{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #FFFFFF;  
}

.questions-answers-selection{
  list-style: none;
  padding-left: 0;
}

.questions-answers-selection li{
  margin-bottom: 20px;
}

.questions-answers-selection li .form-check-input[type=radio]{
  cursor: url(../images/cursor.svg), auto !important;
  width: 20px;
  height: 20px;
  margin-top: 8px;
  background-color: transparent;
  border: 1px solid #ffffff;
}

.questions-answers-selection li .form-check-input:checked[type=radio]{
  border-color: #ffffff;
}

.questions-answers-selection li label{
  cursor: url(../images/cursor.svg), auto !important;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin-left: 15px;
}

.question-item{
  display: none;
  transition: all 1s linear;

}

.question-item.active{
  display: block;
}

.form-check-input, .form-check-label {
  cursor: pointer;
}

.results-description-wrapper{
  background-color: #ffffff;
  padding: 35px 35px;
  color: #000000;
  border-radius: 40px;
}

.results-description-wrapper h4{
  font-size: 31px;
  color: #005CB9;
}

.results-description-wrapper ul{
  list-style: none;
  padding-left: 0;
  margin: 15px 0px;
}
.results-description-wrapper ul li{
  display: inline-block;
  padding: 0 15px;
}
.results-description-wrapper ul li:first-child{
  padding-left: 0px;
}
.results-description-wrapper ul li:last-child{
  padding-right: 0px;
  border-right:0;
}
.results-description-wrapper ul.social-icon-wrapper li{
  border-right: 0;
}

.button-wrapper{
  margin-top: 15px;
}

a.link-button{
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}
a.link-button .icon-link{
margin-bottom: 4px;
}

.trigger-back .icon-link{
  margin-right: 5px;
}

.trigger-next .icon-link{
  margin-left: 5px;
}


a.link-button:hover{
  color: #ffffff;
  text-decoration: underline;
}

a.btn-medium{
  background: #005CB9;
  border: 4px solid #FFFFFF;
  border-radius: 15px;
  height: auto;
  padding: 28px 0px;
  width: 291px;
  font-weight: 700;
  font-size: 18px;
  line-height: 0px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  display: block;
  text-decoration: none;
}

.menu-item-text{
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}

.txt-mailing-list{
  width: 100%;
  border: 0px;
  background: transparent;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  line-height: 33px;
  border-color: #ffffff;
  font-weight: 300;
}

.txt-mailing-list::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1; /* Firefox */
  font-weight: 300;
}

.txt-mailing-list:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff;
  font-weight: 300;
}

.txt-mailing-list::-ms-input-placeholder { /* Microsoft Edge */
  color: #ffffff;
  font-weight: 300;
}

.right-desktop-spacer{
  padding-right: 0px;
}


.dynamic-description{
  margin-top: 15px;
}

.send-report-wrapper{
  margin-top: 15px;
}


.share-wrapper{
  margin-top: 15px;
}


.table-app td{
  padding: 10px;
}

.how-to-win-header{
  margin-top: 25px;
}

.how-to-win-header .header-copy{
  font-size: 20px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.text-nowrap{
  white-space: nowrap;
}

.how-to-win-wrapper{
  background-color: #ffffff;
  border-radius: 50px;
  width: 100%;
  min-height: 550px;
  padding: 35px;
  color: #000000;
  margin-bottom: 25px;
}
.draw-wrapper{
  margin-bottom: 55px;
}
.draw-item{
  font-size: 22px;
  margin-top: 10px;
}

.bordered-box{
  border: 1px solid #005CB9;
  min-height: 50px;
  border-radius: 10px;
  padding: 15px;
  font-size: 20px;
  margin: 10px 25px;
}


.how-to-win-wrapper h4{
  color: #005CB9;
  font-weight: 700;
  margin-bottom: 15px;
}

.how-to-wrapper{
  position: relative;
}
.how-to-wrapper ol{
  display: block;
  padding: 0 0 0 35px;
  list-style: none;
}
.how-to-wrapper ol li{
  margin-bottom: 15px;
  font-size: 20px;
}
.how-to-wrapper ol li span {
  float: left;
  position: absolute;
  left: 0px;
  font: bold 18px sans-serif;
  text-align: center;
  color: #fff;
  line-height: 28px;
  width: 28px; 
  height: 28px;
  background-color: #005CB9;
  border-radius: 50px;
}

.table-tasks{
  margin-top: 15px;
}

.table-tasks .odd{
  background-color: #DDD6FF;
  padding: 10px;
}
.table-tasks .even{
  background-color: #FFE1CC;
  padding: 10px;
}

.table-tasks thead{
  border-bottom: 2px solid #005CB9;
}

.table-tasks td.lined{
  border-bottom: 1px solid #005CB9;
}

.table-tasks thead th{
  padding-bottom: 15px;
  font-weight: 400;
}

.table-tasks td{
  padding: 10px 0px 0px;
  vertical-align: top;
}


.table-tasks td ul li {
  list-style-type: disc;
}

.how-to-wrapper .fresh-fund-wrapper ul li{
  margin-bottom: 0px;
  font-size: 18px;
}

.table-invested{
  width: 70%;
}

.table-invested th{
  background-color: #7872f0;
  color: #ffffff;
  font-weight: 500;
  padding: 5px 0px;
  font-size: 18px;
}

.table-invested td{
  background-color: #e4deff;
  color: #7872f0;
  font-weight: 500;
  padding: 5px 0px;
  font-size: 18px;
  line-height: 18px;
}

.draw-label{
  color: #005CB9;
  font-weight: 700;
}

@media (max-width: 1361px) {
  .right-desktop-spacer{
    padding-right: 0px;
  } 
}
@media (max-width: 1500px) {
  .main-wrapper{
    padding: 0px 0px 0px;  
    min-height: 600px;
  }

  .headline-text{
    font-size: 20px;
    line-height: 31px;
  }
  .caption-text{
    font-size: 20px;
    line-height: 29px;
  }
  .text-question {
      font-size: 21px;
      line-height: 31px;
  }

  .questions-answers-selection li label {
      font-size: 16px;
      line-height: 33px;
  }  
  .questions-answers-selection li {
      margin-bottom: 10px;
  }  

}

.mob-nav{
  display: none;
}
.mob-nav-wrapper{
  display: none;
}
.mob-nav-item .item-content{
  display: none;
}

.question-icon img{
  width: 65%;
}

@media (max-width: 990px) {
  
  .table-app td{
    padding: 5px;
  }

  .mob-margin-center{
    margin: 0 auto;
  }
  
  header{
    position: relative;
  }

  .question-icon img{
    width: auto;
  }

  .logo-wrapper{
    text-align: left !important;
    align-items: flex-start!important;
    
  }

  .logo-wrapper img{
    max-width: 280px;
    height: auto;
  }
  
  .mob-nav{
    display:inline-block;
    position: absolute;
    top:10px;
    right:5px;
  }
  .mob-nav-wrapper{
    
  }
  .mob-nav .trigger-nav{
    color: #005CB9;
    font-size: 50px;
    text-decoration: none;
    line-height: 40px;
    cursor: pointer;
  }
  
  .mob-nav .trigger-nav.active{
    transform: rotate(45deg);
    cursor: pointer;
  }

  .mob-nav-wrapper.active{
    display: block;
    position: absolute;
    top: 65px;
    width: 100%;
    text-align: center;
    margin-left: -15px;
    height: calc(100vh - 60px);
    padding: 40px 0;
    background: url(../images/bg-mob.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    z-index: 999;
  }

  .mob-nav-item{
    text-align: center;
    margin-bottom: 25px;
  }
  .mob-nav-item .item-trigger{
    font-weight: 300;
    font-size: 31px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;
    text-decoration: none;
  }
  .mob-nav-item .item-content.active{
    display: block;
  }

  .mob-nav-wrapper .divider{
    border: 1px solid #ffffff;
    width: 100px;
    margin: 30px auto;
  }

  .mob-nav-wrapper ul{
    list-style: none;
    padding-left: 0;
    margin: 35px 0px 25px;
  }
  .mob-nav-wrapper ul li{
    display: inline-block;
    padding: 0 15px;
  }
  .mob-nav-wrapper ul li:first-child{
    padding-left: 0px;
  }
  .mob-nav-wrapper ul li:last-child{
    padding-right: 0px;
    border-right:0;
  }
  .mob-nav-wrapper ul.social-icon-wrapper li{
    border-right: 0;
  }
  .mob-nav-wrapper .btn-default {
    height: 60px;
    width: 200px;
    font-weight: 700;
    font-size: 24px;
    line-height: 0px;
  }


  .main-wrapper{
    padding: 25px 0px 0px;  
    height: auto;
    min-height: calc(100vh - 90px);
  }
  .kv-wrapper{
    text-align: center;
  }

  .headline-text{
    text-align: center;
  }

  .cta-wrapper{
    /* padding: 0 94px 0 0;
    background-image: url('../images/ipad icon.svg');
    background-repeat: no-repeat;
    background-position-x: 100%; */
    text-align: center;
  }
  a.btn-default {
    width: 320px;
    font-weight: 700;
    font-size: 35px;
    margin: 0 auto;
  }


  .btn-wide, a.btn-wide {
    background: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    height: auto;
    padding: 25px 0px;
    width: 100%;
    max-width: 100%;
    font-weight: 400;
    font-size: 17px;
    line-height: 0px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
  }  
    
  .btn-start{
    display: block !important;
    margin: 15px 15px;
  }

  .how-to-win-header .header-copy {
      font-size: 18px;
      text-align: center;
      width: 100%;
      margin: 0 auto 35px;
  }

  .how-to-win-wrapper {
      background-color: #ffffff;
      border-radius: 25px;
      padding: 20px;
      margin-bottom: 25px;
  } 

  .draw-item {
      font-size: 20px;
      margin-top: 10px;
  }  

  .table-tasks-wrapper{
    margin-left: -25px;
  }

  .bordered-box {
      padding: 15px;
      font-size: 18px;
      margin: 10px 25px;
  }  

  .how-to-wrapper ol li {
      /* margin-bottom: 15px; */
      font-size: 18px;
  }  

  .table-invested{
    width: 100%;
  }
  
  .table-invested th{
    padding: 5px 0px;
    font-size: 14px;
  }
  
  .table-invested td{
    padding: 5px 0px;
    font-size: 14px;
    line-height: 14px;
  }

  
}

@media (max-width: 1440px) and (max-height: 975px){
  hr {
    margin: 0.2rem 0;
  }
  .masthead-responsive{
    max-width: 70%;
  }
  .uob-logo {
      height: 35px;
  }  
  .right-by-you {
    height: 40px;
  }  
  .headline-text {
      font-size: 18px;
      line-height: 22px;
  }
  a.btn-default {
    padding: 24px 0px;
    font-size: 1.3rem;
    line-height: 0px;
  }  
  .questions-answers-selection li {
    margin-bottom: 5px;
  }  

  .questions-answers-selection li label {
      font-size: 14px;
      line-height: 18px;
  }
  .questions-answers-selection li .form-check-input[type=radio] {
      width: 16px;
      height: 16px;
      margin-top: 6px;
  } 

  .text-question {
    font-size: 18px;
    line-height: 22px;
  }  
  .main-wrapper {
      padding: 0px 0px 0px;
      min-height: 465px;
  }
  
  .result-main-wrapper{
    min-height: 535px;
  }

  a.link-button {
      color: #ffffff;
      text-decoration: none;
      font-size: 16px;
  }  

  .results-description-wrapper h4 {
      font-size: 22px;
      color: #005CB9;
  }  

  .dynamic-description {
      margin-top: 15px;
      font-size: 14px;
  }  
  a.btn-medium {
    padding: 25px 0px;
    width: 250px;
    font-weight: 700;
    font-size: 14px;
  }  
  footer {
      font-size: 12px;
      line-height: 19px;
  }  

  .draw-item {
      font-size: 18px;
      margin-top: 10px;
  }
  .bordered-box {
      font-size: 18px;
  }  
  
  .how-to-wrapper ol li {
      margin-bottom: 15px;
      font-size: 16px;
  } 

  .how-to-wrapper .fresh-fund-wrapper ul li {
      margin-bottom: 0px;
      font-size: 14px;
  }  

  .table-invested th {
      font-size: 14px;
  } 

  .table-invested td {
    font-size: 14px;
  }    
}


@media (max-width: 650px) {
  .masthead-responsive{
    max-width: 80%;
  }
  main{
    min-height: calc(100vh - 70px);
    height: auto;
  }
  header{
    /* justify-content: start;
    flex-wrap: wrap;
    display: flex; */
  }
  .results-description-wrapper{
    text-align: center;
  }
  .results-description-wrapper .btn-medium{
    margin: 0 auto;
  }
  .results-description-wrapper h4{
    text-align: center;
  }

  .logo-wrapper{
    text-align: left !important;
    align-items: flex-start!important;
    max-width: 260px;
  }

  .logo-wrapper img{
    max-width: 260px;
  }

  .uob-logo img{
    height: 40px;
  }

  .main-wrapper{
    height: auto;
    padding-bottom: 35px;
  }
  .homepage-wrapper{
      background: url('../images/bg-homepage-mob.png');  
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 667px;
      
  }
  .content-wrapper {
      padding: 50px 30px;
  }
  .headline-text{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.02em;    
  }
  .cta-wrapper{
    /* padding: 0 94px 0 0;
    background-image: url('../images/ipad icon.svg');
    background-repeat: no-repeat;
    background-position-x: 100%; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.02em;    
  }

  .btn-default {
      margin-top: 35px;
      height: 75px;
      width: 250px;
      font-weight: 700;
      font-size: 22px;
      line-height: 40px;
  }  

  .mob-nav-item .item-trigger {
      font-weight: 300;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #ffffff;
      text-decoration: none;
  }
  
  .mob-nav-item .item-trigger.active{
    font-weight: 700;
  }

  .mob-nav-item .item-content.active{
    padding: 0 15px;
  
  }
  .mob-nav-wrapper.active{
    height: calc(100vh - 80px);
  }

  .text-question{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #FFFFFF;  
  }
  
  .questions-answers-selection li{
    margin-bottom: 20px;
  }

  .questions-answers-selection li label{
    font-size: 18px;
    line-height: 24px;
  }
  


}
@media (max-width: 400px) {
  .headline-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
  }
  .content-wrapper {
      padding: 30px 20px;
  }  
}



/* [+] CUSTOM SCROLL BAR */

/* width */
.slim-scroll::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.slim-scroll::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.slim-scroll::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.slim-scroll::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* [-] CUSTOM SCROLL BAR */

.arrow-down-wrapper{
    position: absolute;
    top: calc(100vh - 50px);
    width: 100%;
    text-align: center; 
    cursor: pointer;
    margin-left: -15px;
}
.chevron::before {
	border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
    top: 0;
	transform: rotate(135deg);
    font-size: 55px;
    color: #4ab6c2;
}


.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.disabled-link{
    cursor: default;
    pointer-events: none;        
    text-decoration: none;
    background-color: #d1d1d1 !important;    
    border: 1px solid #d1d1d1 !important;
    color: #ffffff  !important;
}


/* [+] CUSTOM CURSOR */
.cursors {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 100vh;
}

.cursors > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px 2px;
  text-align: center;
}
.cursors > div:nth-child(odd) {
  background: #eee;
}
.cursors > div:hover {
  opacity: 0.25;
}
/* [-] CUSTOM CURSOR */